sqlalchemy 
asyncpg 
psycopg2-binary 
pgvector 
pydantic
python-dotenv
alembic
langgraph
langchain-core
langchain-google-genai
PyPortfolioOpt 
yfinance 
pandas
fastapi 
uvicorn[standard] 
pydantic-settings 
requests
numpy 
pandas 
scipy
feedparser



# alembic needs to be installed