# Core Web & API
fastapi
uvicorn[standard]
python-multipart

# Database
SQLAlchemy>=2.0.0
asyncpg
alembic

# Async & Tasks
celery
redis

# AI & Agents
langchain-google-genai
langgraph
google-genai
python-dotenv

# Quant & Finance
pandas
numpy
scipy
cvxpy
pyportfolioopt
yfinance

# Utils
httpx
pydantic-settings


#Auth-Req
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pyjwt
pydantic[email]